<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Shopping List App</title>
    </head>
    <body>
        <div id="shopping-list">
            <h1>{{ header || 'Welcome'}} </h1>
            <div class="add-item-form">
                <input 
                    @keyup.enter="saveItem('enter')" 
                    type="text" 
                    v-model="newItem" 
                    placeholder="Add an Item" >
                <button @click="saveItem('button')">
                    Save Item
                </button>                
                
            </div>
            <ul>
                <!-- <li v-for="item in items" :key="item.id">{{item.id}} - {{item.label}}</li> -->
                <li v-for="{id,label} in items" :key="id">{{id}} - {{label}}</li>
            </ul>
        </div>
    </body>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        //Because we create a variable called `shoppingList`, we can manipulate the list from the console of the browser.
        const shoppingList = Vue.createApp({
            data(){
                return{
                    header: 'This is my shopping list',
                    newItem: null,
                    items: [
                        {id: 1, label: "Notebook"},
                        {id: 2, label: "Pen"},
                        {id: 3, label: "Eraser"},
                    ]
                }
            },
            methods:{
                // Arrow functions are not allowed, we would lose 'this' functionality
                saveItem(source){
                    this.items.push({ id: this.items.length + 1, label: this.newItem })
                    this.newItem = ''
                    console.log('Added via', source);
                }
            }
        })
        .mount('#shopping-list') // Entry point for Vue
    </script>
</html>