<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Shopping List App</title>
    </head>
    <body>
        <div id="app">
            <div>
                <h1>{{ header || 'Welcome'}} </h1>
                <input v-model="newItem" type="text" placeholder="Add an item"> 
                <label>
                    <input type="radio" v-model="newItemPriority" value="low"> Low
                    <input type="radio" v-model="newItemPriority" value="high"> High
                </label>
                <div>
                    {{ newItem ?? "An item" }} will be added in {{ newItemPriority }} priority
                </div>
                <br>
                <!-- With lazy modifier, the input will not be shown until it is blurred -->
                <input v-model.lazy="lazyLoadInput" type="text" placeholder="Lazy load input">
                <div>
                    {{ lazyLoadInput }}
                </div>
            </div>
            <br>
            <div id="shopping-list">
                <ul>
                    <li v-for="{id,label} in items" :key="id">{{id}} - {{label}}</li>
                </ul>
            </div>
            <!-- Selected items will be added to the iceCreamFlavors array, deselected ones will be removed -->
            <div id="arrayExample">
                <h3>Select your ice cream flavors</h3>
                <label><input type="checkbox" v-model="iceCreamFlavors" value="vanilla">Vanilla</label>
                <label><input type="checkbox" v-model="iceCreamFlavors" value="chocolate">Chocolate</label>
                <label><input type="checkbox" v-model="iceCreamFlavors" value="strawberry">Strawberry</label>
                <label><input type="checkbox" v-model="iceCreamFlavors" value="cookies">Cookies</label>
            </div>

        </div>
    </body>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        //Because we create a variable called `object`, we can manipulate the list from the console of the browser.
        const object = Vue.createApp({
            data(){
                return{
                    header: 'This is my shopping list',
                    newItem: null,
                    newItemPriority: 'low',
                    lazyLoadInput: null,
                    iceCreamFlavors: [],
                    items: [
                        {id: 1, label: "Notebook"},
                        {id: 2, label: "Pen"},
                        {id: 3, label: "Eraser"},
                    ]
                }
            }
        })
        .mount('#app') // Entry point for Vue
    </script>
</html>